---
layout: page
title: "Sobre"
date: 2014-03-21 20:04
comments: false
sharing: false
footer: true
---

Olá! Esse é o blog da <a href="http://www.codeland.com.br" target="_blank">CODELAND</a>, e quem escreve por aqui é a nossa equipe.
{% blockquote %}
{% endblockquote %}
Nós somos uma empresa de desenvolvimento de software ágil confiável, direta e com um time minado de experts nas suas áreas. Graças a nossa expertise e nossa metodologia única, ajudamos os nossos clientes a cortar a maior parte do risco em lançar um novo sistema na web.
Conseguimos isso por que fazemos mais do que apenas construir produtos: nós também trabalhamos diretamente no desenvolvimento de negócio, para que o resultado final seja satisfatório e lucrativo. Nossa flexibilidade nos permite trabalhar junto de pequenos empreendedores até grandes empresas. Quer saber mais sobre a gente? <a href="http://www.codeland.com.br" target="_blank">Vem conosco!</a>
{% blockquote %}
{% endblockquote %}
Quer lançar uma nova ideia de negócio digital, ou precisa de um novo sistema web para a sua empresa? Venha <a href="http://www.codeland.com.br"> falar com a gente</a>. Vamos adorar conversar sobre o seu projeto!
