---
layout: page
title: "Sobre"
date: 2014-03-21 20:04
comments: false
sharing: false
footer: true
---

Olá! Esse é o blog da <a href="http://www.codeland.com.br" target="_blank">CODELAND</a>. Nós somos uma empresa de desenvolvimento de software ágil confiável, direta e com um time minado de experts nas suas áreas. Graças a nossa expertise e nossa metodologia única, ajudamos os nossos clientes a cortar a maior parte do risco em lançar um novo sistema na web.
Conseguimos isso por que fazemos mais do que apenas construir produtos: nós também trabalhamos diretamente no desenvolvimento de negócio, para que o resultado final seja satisfatório e lucrativo. Nossa flexibilidade nos permite trabalhar desde junto a pequenos empreendedores até grandes empresas. Quer saber mais sobre a gente? <a href="http://www.codeland.com.br" target="_blank">Vem conosco!</a>
{% blockquote %}
{% endblockquote %}
<h2>Autores</h2>
Quem escreve por aqui são membros de nossa equipe. Desde designers até programadores, estamos compartilhando nossas opiniões e nossos métodos de trabalho.
{% blockquote %}
{% endblockquote %}

{% img left /images/bruno.png 150 250%} <h3 class="member-name"><a href="http://twitter.com/brunopazzim" target="_blank">Bruno Pazzim</a></h3>
Empreendedor, CBDO e co-fundador da CODELAND, Bruno compartilha suas opiniões sobre novos negócios digitais e tecnologia.

{% blockquote %}
{% endblockquote %}
<br>
<br>

{% img right /images/patrick.png 150 250%} <h3 class="member-name"><a href="http://twitter.com/patrickemuller" target="_blank">Patrick Müller</a></h3>
CTO e co-fundador da CODELAND, Patrick é desenvolvedor Ruby e posta sobre problemas e soluções encontrados no dia-a-dia. Muito envolvido com a comunidade, já é figura conhecida entre os profissionais locais.

{% blockquote %}
{% endblockquote %}
<br>

{% img left /images/gabriel_2.png 150 250%} <h3 class="member-name"><a href="http://twitter.com/gabecarpenedo" target="_blank">Gabriel Carpenedo</a></h3>
Íntimo do ecossistemas de startups brasileiras, Gabriel é CDO e co-fundador da CODELAND. É mentor de diversos negócios e divide suas ideias aqui no blog.

{% blockquote %}
{% endblockquote %}
<br>

Quer lançar uma nova ideia de negócio digital, ou precisa de um novo sistema web para a sua empresa? Venha <a href="http://www.codeland.com.br"> falar com a gente</a>. Vamos adorar conversar sobre o seu projeto!
