// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body{ border-top: 8px solid #FFD600; }

.blog-index{ padding-top: 0px; margin-top:0px; }

#content .blog-index article, body #content>div>article { padding-top: 0; }

body>header{ padding-top: 4.5em; padding-bottom: 0.5em; background-color: #FFD600}

#content>div{ padding-top: 0;}

body>nav{ padding-top: 0.80em; }

body>nav a:hover{ color: darken(#FFD600, 1) }

a:hover{ color: darken(#FFD600, 1) }

#content div.pagination a:hover{ color: darken(#FFD600, 1) }

#content .blog-index article h1 a:hover{ color: darken(#FFD600, 1) }

#blog-archives a.category:hover{ color: darken(#FFD600, 1) }

#blog-archives h1 a:hover{ color: darken(#FFD600, 1) }

#content .blog-index a[rel=full-article]:hover{ background-color: darken(#FFD600, 1) }

.social{
  padding: 0.1em 0.78em;
  text-indent: -9999px;
  span{ display: none; }
}

.facebook{ background-image: url('/images/facebook.png'); }
.twitter{ background-image: url('/images/twitter.png'); }
.github{ background-image: url('/images/github.png'); }
.linkedin{ background-image: url('/images/linkedin.png'); }
.rss{ background-image: url('/images/rss.png'); }

.pitch-image{ box-shadow: none; }

.subscribe{
  background-color: #303030;
  border-radius: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  p{
    color: white;
  }
}

.member-name{ margin-bottom: 2px;}
